<form #userForm="ngForm" (ngSubmit)="onSave(userForm.value)" novalidate>
  <table border='1'>
    <tr>
      <td>name</td>
      <td>
        <input name="id" type="hidden" [(ngModel)]="id" />
        <input name="id" type="text" required [(ngModel)]="name" />
      </td>
    </tr>

    <tr>
      <td> address</td>
      <td> <input name="address" required type="text" [(ngModel)]="address" /> </td>
    </tr>
    <tr>
      <td colspan="2">
      </td>
    </tr>
  </table>
</form>

<table border='1'>

  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Address</td>
  </tr>
  <tr *ngFor="let kk of Repdata; let ind= index">
    <td> {{ind+1}} </td>
    <td> {{kk.name}}</td>
    <td> {{kk.address}}</td>
    <td> <a (click)="edit(kk)">Edit</a></td>
    <td> <a (click)="delete(kk._id)">delete</a></td>
  </tr>
</table>
<router-outlet></router-outlet>
